<mat-card>
    <h3>1) Crie uma aplicação Angular (Não esqueça que todo código precisa estar no GitHub)</h3>
</mat-card>
<br>
<mat-card>
    <h3>2) Crie no mínimo 3 componentes que deverão estar interagindo na mesma página (Não esqueça das rotas)</h3>
</mat-card>
<br>
<mat-card>
    <h3>3) Escolha no mínimo 4 componentes do Angular Material e incorpore eles em sua aplicação.</h3>
</mat-card>
<br>
<mat-card>
    <h3>4) Crie em uma das páginas uma interação através da Interpolação e/ou utilizando Property Biding.</h3>
</mat-card>
<br>
<mat-card>
    <h3>5) Crie uma explicação sobre o que foi feito, esta explicação será inserida na plataforma junto com o link para
        o código no GitHub.</h3>
</mat-card>
<br>
<mat-card>
    <h3 style="color: gray;">6) Você poderá criar um vídeo demonstrativo da aplicação construída, e publicá-lo no
        YouTube, passando o link de acesso na plataforma. Este passo 6, não é obrigatório, mas entrará como um
        diferencial.</h3>
</mat-card>
